
* {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-kerning:auto;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	list-style: none;
}
::-webkit-scrollbar {
  display: none;
  /* remove scrollbar space */
  width: 0px;
  /* optional: just make scrollbar invisible */
  background: transparent;
}

body {
	font-family: sans-serif;
}

main {
	display : flex;

	height: calc(100vh - 38px);
}

main > div {
	flex: 1;
	
	height: 100%;
	overflow-y: scroll;
}

.colonne {
	padding: 10px;
}
.colonne img {
	width: 100%;
}


/* ------- HEADER ---------------------------*/

header {
	position: sticky;
	top: 0px;
	background: white;

	padding: 10px;
}

/* ------- ARTICLES ---------------------------*/
.colonne article {
	margin-bottom: 10px;
}
.colonne article.text_notice {
	border: 1px solid black;
	padding: 10px;
}
.colonne article.text_notice:nth-child(2n) {
	border: 1px solid red;
}
.colonne article.text_notice:nth-child(3n) {
	border: 1px solid green;
}
.colonne article.text_notice:nth-child(5n) {
	border: 1px solid #0f056b;
}

/* ------- TAGS ---------------------------*/

.tags_container {
	margin-top: 10px;
}

.colonne span.tag {
	color: rgb(255,0,148);
	cursor: pointer;
}



/* ------- MODULES ---------------------------*/
.active {
	border-bottom: 2px solid black
}
.current {
	background: lightcyan;
}



/* ------- GLOSSAIRE ---------------------------*/

main.container_glossaire {
	flex-wrap: wrap;
	
	height: auto;
}

.container_glossaire .oeuvre {
	width: 20%;
}
.oeuvre > div {
	width: 100%;
	padding: 10px;
}
.oeuvre figure img {
	width: 100%;
}



/* ------- BIBLIO ---------------------------*/

main.container_biblio article {
	padding: 10px;
}